################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Tabelivaade/.vs/Tabelivaade
/Tabelivaade/TabeliVaade/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
